/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka:wght@300&display=swap');
/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #F2DC99;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #7BA2C3;
}

.resume-main {
	background-color: #D99E91;
}

.resume-aside {
	background-color: #F2D5D5;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "✨";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #F25C85;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}
.language-progress {
	background-color:#D99E91;
	border-color: white;  
    border-width: .10em;
  	border-style: none;
}
.language-level {
	background-color: #F2D5D5
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.special-font {
	font-family: 'Bebas Neue', cursive;
	color: white;
	font-size: 70px 
}
.another-one {
	font-family: 'Fredoka', sans-serif;   
}
.popup .overlay {
	position: fixed;
	top:0px;
	left:0px;
	width:100vw;
	height:100vh;
	background:rgba(0,0,0,0.7);
	z-index:1;
	display:none;
}

.popup .content {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%); scale(0);
	background:#fff;
	width:450px;
	height:220px;
	z-index:2;
	text-align:center;
	padding:20px;
	box-sizing: border-box;
}

.popup .close-btn {
	position:absolute;
	right:20px;
	top:20px;
	width:30px;
	height:30px;
	background:#222;
	color:#fff;
	font-size: 25px;
	font-weight: 608;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
}

.popup.active .overlay {
	display: block;
}

.popup.active .content {
	transition: all 300ms ease-in-out;
	transform: translate(-50%, -50%); scale(1);
}